<div class="container">
	<div class="row">
		<div class="twelve columns logo">
			<img class="scale" src="{{ theme:img src="logo.jpg" }}" alt="JustinDaining.com" />
		</div>
	</div>
	<div class="row">
		<div class="banner">
		  <ul>
		  	<li>"Justin has done a great job of adding to his current talents. His continued efforts to learn EmberJS have lead to bigger contributions to our Front-end stack"</li>
		  	<li>"He's like the tech teams own Mike Rowe. Always more than happy to jump into the craptastic stuff nobody else wants to do and make sense of it... like IE bug testing, visitor badges, emails, and wrangling wordpress... and he does it with as without ever losing that grin (or is it a grimace) he always wears around."</li>
		  	<li>"Justin in continually bringing it at work in the mountains and everywhere in between. Recently he used his friends dinner to help bring in children's books for our teem startup santa book drive. He is continually going the extra mile!"</li>
		  	<li>"Developers are generally a grouchy, wall-hugging, and pessimistic lot. Justin's positive attitude is constant, and he's always looking for the good in folks and finding ways to reach across departments to build bridges."</li>
		  	<li>"Justin removed 110kb of production stylesheet that we no longer use, and then even took the time to explain what that means to a non-dev mind. (7000 lines of code, or 1/3 of the styles every page has to load). Doing good things."</li>
		  	<li>"Justin is pure and good energy. He walks around the office with a smile on his face and the sweetest attitude. He kicks serious butt at making our site beautiful... His laugh is infectious and his demeanor makes any day brighter."</li>
				<li>"Justin's work leading up to and night of the rebrand was kick-ass. Justin sunk his teeth into whatever was needed and got it done, leading folks along the way."</li>
				<li>"Justin absolutely crushed the public index. He showed an incredible amount of expertise and ability when it came to working with our agency and in a wordpress environment. They commented at how easy he made it for them to incorporate his work and made it a flawless transition."</li>
				<li>"Justin has been killing it on labels, particularly for Linkedin. He has been able to take a project that was thrown at him and learn it quickly. Linkedin has grown because of his speed in getting those labels done. Thanks a lot man"</li>
		  </ul>
		</div>
	</div>
	<div class="row resume">
		<div class="four columns experience">
			<div class="col_head">
				<img class="scale" src="{{ theme:img src="experience.jpg" }}" alt="Experience" />
			</div>
			<div class="col_content">
				{{ cf_experience }}
				<div class="exp">
					<p>
						<b>{{ company }}</b><br />
						{{ time_frame }}<br />
						{{ position }}<br />
						<a href="http://{{ url }}">{{ url }}</a>
					</p>
				</div>
				{{ /cf_experience }}
			</div>
		</div>
		<div class="four columns tools">
			<div class="col_head">
				<img class="scale" src="{{ theme:img src="tools.jpg" }}" alt="Tools" />
			</div>
			<div class="col_content">
				<p>
				{{ cf_tools }}
					{{ tool }}<br />
				{{ /cf_tools }}
				</p>
			</div>
		</div>
		<div class="four columns results">
			<div class="col_head">
				<img class="scale" src="{{ theme:img src="results.jpg" }}" alt="Results" />
			</div>
			<div class="col_content">
				{{ cf_results }}
					<p><a target="_blank" href="{{ url }}">{{ site_name }}</a> - {{ tools }}{{ if notes }} ({{ notes }}){{ endif }}</p>
				{{ /cf_results }}
			</div>
		</div>
	</div>
	<div class="row">
	{{ cf_footer }}
		<div class="three columns footer">
			e {{ email }}
		</div>
		<div class="three columns footer">
			p {{ phone }}
		</div>
		<div class="three columns footer">
			t <a target="_blank" href="http://www.twitter.com/{{ twitter }}">@{{ twitter }}</a>
		</div>
		<div class="three columns footer">
			gh <a target="_blank" href="https://www.github.com/{{ github }}">/{{ github }}</a>
		</div>
	{{ /cf_footer }}
	</div>
</div>